body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.playbtn{
  background-color: #00eaff;
  border: solid rgb(255, 0, 0);
  position:fixed;
  top: 20px;
  bottom: 0px;
  -webkit-text-fill-color: #ffffff;
}

.pausebtn{
  background-color:#d11111;
  border: solid #00eaff;
  position:fixed;
  top: 20px;
  right: 10px;
  bottom: 0px;
} 

.content {
  max-width: 700px;
  margin: auto;
  background: rgb(0, 153, 255);
  padding: 10px;
  color:white
}

h1{
  font-size: 70px;
}

p{
  font-size: 25px;
}

.githubp a:hover{
  font-style: italic;
  color:#ff0000
}

.githubhack{
  color:#ffffff;
  text-decoration: green wavy underline;
}

h2{
  font-size: 35px;
}

ol{
  font-size: 25px;
}

.github-contact{
  text-decoration: underline dotted; 
}


a:hover{
  font-style: italic;
}

.email-contact{
  text-decoration: underline dotted;
}

a{
  color:rgb(22, 5, 247)
}

img{
  width: 200px;
  height: 200px;
}

