body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.playbtn{
  background-image: linear-gradient(90deg, #ffffff 0%, #00eeff 35%, #00d4ff 100%);
  border: solid rgb(255, 0, 0) 
}

.pausebtn{
  background-image: linear-gradient(-90deg, white 0%, #ff0000 30%, #00ffbf 100%);
  border: solid #00eaff;
} 

.content {
  max-width: 700px;
  margin: auto;
  background: rgb(0, 153, 255);
  padding: 10px;
  color:white
}

h1{
  font-size: 70px;
}

p{
  font-size: 25px;
}

.github a:hover{
  font-style: italic;
  color:#ff0000
}

.githubhack{
  color:#ffffff;
  text-decoration: green wavy underline;
}